
}

.col-md-4 {

  padding: 0;


}

.col-md-4:last-child {

  margin-bottom: 40px;
}

.col-md-12 {

margin-top: 20px;
margin-bottom: 20px;

}

.col-md-8 {
padding: 0;
margin-top: 20px;
margin-bottom: 20px;

}

a {color:gray;}         /* Unvisited link  */
a:visited {color:gray;} /* Visited link    */
a:hover {color:gray;}   /* Mouse over link */
a:active {color:gray;}  /* Selected link   */

.foto img {

  width: 100%
}

.likes {

  margin-top: 10px;
  margin-bottom: 10px;
}
